@using System.Text.RegularExpressions
@model UltimateForum.Razor.Pages.Shared.RenderQuote

@{
    var post = Model.GetPost(Model.Id);
    <div class="card p-3 mb-2 mt-2 bg-light-subtle">
        <div>
             <span>
                 @if (post?.Creator?.Username is null)
                 {
                     <span
                         style="font-size: .7rem">匿名或已删除 @@ @post?.CreatedAt > </span>
                 }
                 else
                 {
                     <div style="font-size: .7rem">
                         <div><a asp-page="/">@post.Creator.Username@@@post.CreatedAt</a> > <a
                                 href="#@post.Id">GOTO</a></div> 
                         <div>
                             @{
                                 var stuffs = Helper.SplitWithDelimiter(post.Content, "\\$\\$\\[(.*?)\\]\\$\\$");
                                 for (var index = 0; index < stuffs.Count; index++)
                                 {
                                     var stuff = stuffs[index];
                                     switch (Helper.Evaluate(stuff))
                                     {
                                         case Helper.TagType.Quote:
                                             <partial name="Shared/RenderQuote"
                                                      model="new RenderQuote(Model.Db, Helper.GetQuoteIdFromTag(stuff))"/>
                                             break;
                                         default:
                                             try
                                             {
                                                 switch (Helper.Evaluate(stuffs[index + 1]))
                                                 {
                                                     case Helper.TagType.Icon:
                                                         @Html.Raw(Markdig.Markdown.ToHtml(stuff + $"<img style='height: .9rem;' src='{Url.Content("~/assets/blank.png")}'/>"))
                                                         index++;
                                                         goto OUTER_BREAK;
                                                 }
                                             }
                                             catch (Exception)
                                             {
                                                 //ignored
                                             }

                                             @Html.Raw(Markdig.Markdown.ToHtml(stuff))
                                             OUTER_BREAK:
                                             break;
                                     }
                                 }
                             }
                         </div>
                     </div>
                 }
             </span>
        </div>
    </div>}