@using Markdig
@using Markdown.ColorCode
@using System.Text.RegularExpressions
@model RenderPost
@inject OpenMojiIconPackHelperService OpenMojiIconPack
@{
    // Safe render markdown
    var randomStr = AXHelper.Helpers.StringHelper.RandomString(8);
    var stuffs = Regex.Matches(Model.Content, "\\$\\$\\[(.*?)\\]\\$\\$").ToList();
    var p = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseColorCode().Build();
    string withoutTag = Model.Content;
    for (var i = 0; i < stuffs.Count; i++)
    {
        withoutTag = withoutTag.Replace(stuffs[i].Value, $"{randomStr}{i}{randomStr}");
    }
    var mds = Markdown.ToHtml(withoutTag, p);
    Model.Content = mds; 
    for(var i = 0; i < stuffs.Count; i++)
    {
        Model.Content = Model.Content.Replace($"{randomStr}{i}{randomStr}", stuffs[i].Value);
    }
    var randomStrForPre = AXHelper.Helpers.StringHelper.RandomString(8);
    var preTags = Regex.Matches(Model.Content, "<pre>([\\S\\s]*)</pre>");
    for(var i =0; i < preTags.Count; i++)
    {
        Model.Content = Model.Content.Replace(preTags[i].Value, $"{randomStrForPre}{i}{randomStrForPre}");
    }
    var randomStrForCode = AXHelper.Helpers.StringHelper.RandomString(8);
    var codeTags = Regex.Matches(Model.Content, "<code>([\\S\\s]*)</code>");
    for (var i = 0; i < codeTags.Count; i++)
    {
        Model.Content = Model.Content.Replace(codeTags[i].Value, $"{randomStrForCode}{i}{randomStrForCode}");
    }
    var tags = Helper.SplitWithDelimiter(Model.Content, "\\$\\$\\[(.*?)\\]\\$\\$");

    foreach(var stuff in tags)
    {
        switch (Helper.Evaluate(stuff))
        {
            case Helper.TagType.Icon:
                Model.Content = Model.Content.Replace(stuff, $"<img style='height: 1.2rem;' src='{OpenMojiIconPack.GetIcon(Helper.GetIconIdFromTag(stuff)) ?? "broken"}'/>");
                break;
            case Helper.TagType.Quote:
                // <partial name="Shared/RenderQuote"
                //           model="new RenderQuote(Model.DbContext, Helper.GetQuoteIdFromTag(stuff))" />
                await using (var w = new StringWriter())
                {
                    (await Html.PartialAsync("Shared/RenderQuote", new RenderQuote(Model.DbContext, Helper.GetQuoteIdFromTag(stuff)))).WriteTo(w, HtmlEncoder);
                    // Model.Content = Model.Content.Replace(stuff, XElement.Parse(w.ToString()).ToString());
                    Model.Content = Model.Content.Replace(stuff,  w.ToString());
                }
                break;
        }   
    }
    for (var i = 0; i < preTags.Count; i++)
    {
        var randStr = AXHelper.Helpers.StringHelper.RandomString(10);
        //language=html
        var frame = $@"
                    <div class=""p-2"">
                            <div class=""d-flex w-100 gap-2 justify-content-end"">
                                                        

                                                    <button class='btn btn-sm bg-light-subtle' id='pre-button-{randStr}-{i}' onclick=""(()=>{{
                                                                                    document.getElementById('pre-container-{randStr}-{i}').style.height === 'auto'
                                                                                        ?  document.getElementById('pre-container-{randStr}-{i}').style.height = '4rem'
                                                                                        :  document.getElementById('pre-container-{randStr}-{i}').style.height = 'auto'
                                                                                    document.getElementById('pre-container-{randStr}-{i}').style.height === 'auto'
                                                                                        ? document.getElementById('pre-button-{randStr}-{i}').innerText='˄'
                                                                                        : document.getElementById('pre-button-{randStr}-{i}').innerText='˅'
                                                                                }})()"">˅</button>
                                                    <button class='btn btn-sm bg-light-subtle' onclick=""(()=>{{
                                                        navigator.clipboard.writeText(document.getElementById('pre-container-{randStr}-{i}').innerText)
                                                        }})()"">Copy</button>
                            </div>
                        
                        <div style='height: auto;overflow:hidden;scrollbar-width:none;' id='pre-container-{randStr}-{i}'>
                            <content-{randomStr}>
                            
                        </div>
                                                    <script>
                                                        function convertRemToPixels(rem) {{
                                                          // Get the root font-size (usually 16px, but can be customized)
                                                          const rootFontSize = parseFloat(getComputedStyle(document.documentElement).fontSize);
                                                          return rem * rootFontSize;
                                                        }}
                                                            if(document.getElementById('pre-container-{randStr}-{i}').getBoundingClientRect().height<=convertRemToPixels(4)){{
                                                                document.getElementById('pre-button-{randStr}-{i}').style.display = 'none'
                                                            }}
                                                        </script>
                        
                    </div>
                    ";
        Model.Content = Model.Content.Replace($"{randomStrForPre}{i}{randomStrForPre}", frame.Replace($"<content-{randomStr}>", preTags[i].Value));
    }
    for (var i = 0; i < codeTags.Count; i++)
    {
        Model.Content = Model.Content.Replace($"{randomStrForCode}{i}{randomStrForCode}", codeTags[i].Value);
    }
    @Html.Raw(Model.Content)
}