@using UltimateForum.Client.Pages
@inherits LayoutComponentBase
@inject IConfiguration Config
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentHeader><FluentNavLink Href="/">@Config["ForumName"]</FluentNavLink></FluentHeader>
<FluentBodyContent>
    @Body
    
</FluentBodyContent>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
